@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --color-dark1: rgba(40, 40, 40, 1);
    --color-dark2: rgb(53, 53, 53);
    --color-dark3: rgb(36, 36, 36);
    --color-teal: teal;
    --color-teal2: rgb(0, 109, 109);
    --color-teal3: rgb(8, 163, 163);
    --color-teal4: rgb(6, 150, 150);
    --color-yellow: rgb(255, 174, 0);
    --color-white: #fff;
    --color-white2: #ffffffb0;
    --color-black: #000;
}

body {
    background-color: var(--color-dark1);
}

header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background: var(--color-teal);
}

header div {
    background-color: var(--color-white);
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header div img {
    width: 90px;
    margin-left: 3px;
}

header ul li,
header ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--color-dark1);
    transition: all 0.3s ease;
    background: var(--color-teal4);
    padding: 3px 5px;
    border-radius: 3px;
    font-size: 13px;
}

header ul {
    display: flex;
    gap: 3px;
    margin-right: 10px;
}

header ul li a:hover,
header ul li a:focus {
    color: var(--color-white);
}

main section.welcome {
    color: var(--color-white);
    margin: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

main section.welcome h1 {
    color: var(--color-yellow);
    font-size: 33px;
}

main section.welcome>p:last-child {
    font-size: 9px;
    color: var(--color-white2);
    margin-top: 7px;
}

main nav.pet-btns {
    height: 120px;
    margin: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

main nav.pet-btns a {
    width: 40%;
    background: var(--color-teal);
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

main nav.pet-btns a:hover,
main nav.pet-btns a:focus {
    border: 1px solid var(--color-white);
    box-shadow: 0 0 3px var(--color-white);
    background: var(--color-teal2);
}

main section.local {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.local div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px 40px;
    background: var(--color-teal);
    width: 90%;
    border-radius: 30px;
    margin-bottom: 20px;
}

main section.local div h1 {
    color: var(--color-black);
    font-size: 20px;
    background: var(--color-yellow);
    position: relative;
    padding: 6px 5px;
    border-radius: 10px;
    top: -40px;
}

main section.local div iframe {
    transition: all 0.3s ease;
}

main section.local div iframe:hover,
main section.local div iframe:focus {
    border: 1px solid var(--color-white);
    box-shadow: 0 0 5px var(--color-white);
}

@media screen and (min-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
    }

    #pet-btns {
        order: 1;
        height: 60px;
        width: 100%;
        background: var(--color-teal3);
        margin: 0px 0px;
        gap: 0;
        padding: 0;
        border-radius: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    #pet-btns a {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color-teal4);
        height: 100%;
        border: 1px solid transparent;
        border-radius: 0px;
        transition: all 0.3s ease;
        text-decoration: none;
        color: var(--color-white);
        padding: 5px;
        font-size: 15px;
    }

    #pet-btns a:hover,
    #pet-btns a:focus {
        border: 1px solid transparent;
        box-shadow: none;
        background: rgb(0, 109, 109);
    }

    .welcome {
        order: 2;
    }

    .local {
        order: 3;
    }


    main section.welcome {
        color: var(--color-white);
        margin: 60px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 28px;
    }

    main section.welcome h1 {
        color: var(--color-yellow);
        font-size: 60px;
    }

    main section.welcome>p:last-child {
        font-size: 14px;
        color: var(--color-white2);
        margin-top: 7px;
    }

    main section.local div h1 {
        color: var(--color-black);
        font-size: 25px;
        background: var(--color-yellow);
        position: relative;
        padding: 6px 5px;
        border-radius: 10px;
        top: -45px;
    }
}

@media screen and (min-width: 375px) {

    header ul li,
    header ul li a {
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 17px;
    }

    header ul {
        gap: 5px;
    }

}

@media screen and (min-width: 424px) {
    
    header ul {
        gap: 10px;
    }
}

@media screen and (min-width: 760px) {

    header ul li,
    header ul li a {
        padding: 3px 5px;
        border-radius: 5px;
        font-size: 20px;
    }

    header ul {
        gap: 15px;
    }

}
